/* $Id$ */
body{
    margin: 0px;
    font-family: Arial;
    font-size: 14px;
    width: 450px;
    height: 500px;
    overflow: hidden;
}
.topbar{
    margin: 0px 0px 0px 0px;
}
.topbar_icon {
    height: 17px;
    width: 17px;
}

/*__Search Field__*/
.search_box {
    position: relative;
}
.delete_input {
    position: absolute;
    top: 1px;
    left: 226px;
    width: 15px;
    height: 15px;
}
input#search{
    font-size: 14px;
    height: 22px;
    width: 45%;
    background-image: url('images/search-grey.png');
    background-position: left center;
    background-size:15px 15px;
    background-repeat: no-repeat;
    border: 1px solid #aaaaaa;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 0 2px 0;
    #z-index: 1;
    #-webkit-transition: color .1s linear;
}
.fit {
   margin: 2px 0px 2px -5px
}
.hide {
    visibility: hidden;
}
.heading {
    background-color: #3274d0;
    color: white;
}
.selected_type {
    background-color: #EEEEEE;
    color: black;
}
.selected_item {
    
}
#types {
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#items {
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.shorten {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.count {
    color: #aaaaaa;
    float: right;
}
.grey {
    color: #aaaaaa;
}
.small {
    font-weight: lighter;
}
.title {
    font-weight: bold;
}

#types_title,
#items_title
{
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px 0 10px;
}
.frame {
    margin: 2px 0 5px 0;
    padding: 5px 5px 3px 3px;
    background: -webkit-gradient(linear, left top, left bottom,
                               color-stop(0.0, #f5f5f5),
                               color-stop(1.0, #ffffff));
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    word-wrap: break-word;
    /*word-break: break-all;*/
    position: relative;
}
.sync {
    width: 13px;
    position: absolute;  
    right: 18px;  
    top: 8px;  
}
.trash {
    width: 13px;
    position: absolute;  
    right: 0;  
    top: 8px;  
}
.favicon {
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;  
}
.bold {
    font-weight: bold;
}
.property_img{
    width: 70px;
    text-align: center;
}
